h1{
  background-image: url("wood.jpg");
  font-size: 60px;
  color: #231101;
  font-family: cursive;
}

h3{
  font-size: 20px;
  color: white;
}

body {
    background-image: url("greengrass.jpg");
    text-align: center;
}

nav {
    float: right;
    max-width:160px;
    margin: 40px 100px 10px 30px;
}

table{
    margin: 40px;
    padding: 3em;
    overflow: hidden;
    border-spacing: 0px;
    border: 0px;
}
.colorPared{
  background-image: url("block2.png");
  background-size: 34px 34px;
}

.colorLaberinto{
  background-image: url("grass.png");
  background-size: 34px 34px;

}

.colorStart{
  background-image: url("flecha.png");
  background-size: 34px 34px;
}
.colorEnd{
  background-image: url("star.jpg");
  background-size: 34px 34px;
}

img {
			width: 100%;
			height: auto;
	}

button {
    background-color: #30302e;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 12px 2px;
    cursor: pointer;
}

td{
  width: 34px;
  height: 34px;
}
